<!DOCTYPE html>
<html lang="en">

<head>
   <!-- basic -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <!-- mobile metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">
   <!-- site metas -->
   <title>Pluto - Responsive Bootstrap Admin Panel Templates</title>
   <meta name="keywords" content="">
   <meta name="description" content="">
   <meta name="author" content="">
   <!-- site icon -->
   <link rel="icon" href="images/fevicon.png" type="image/png" />
   <script src="https://kit.fontawesome.com/dbf4841881.js" crossorigin="anonymous"></script>
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   
   <script src="https://kit.fontawesome.com/dbf4841881.js" crossorigin="anonymous"></script>

   <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/color_2.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-select.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/perfect-scrollbar.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/semantic.min.css') }}">
</head>

<body class="inner_page error_404">
   <div class="full_container">
      <div class="container">
         <div class="center verticle_center full_height">
            <div class="error_page">
               <div class="center">
                  <div class="error_icon">
                     <img class="img-responsive" src="{{ url_for('static', filename='images/layout_img/error.png') }}" alt="#">
                  </div>
               </div>
               <br>
               <h3>PAGE NOT FOUND !</h3>
               <P>YOU SEEM TO BE TRYING TO FIND HIS WAY HOME</P>
               <div class="center"><a class="main_bt" href="widgets.html">Go To Home Page</a></div>
            </div>
         </div>
      </div>
   </div>
   <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/animate.js') }}"></script>
   <script src="{{ url_for('static', filename='js/bootstrap-select.js') }}"></script>
   <script src="{{ url_for('static', filename='js/owl.carousel.js') }}"></script>
   <script src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/Chart.bundle.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/utils.js') }}"></script>
   <script src="{{ url_for('static', filename='js/analyser.js') }}"></script>
   <script src="{{ url_for('static', filename='js/perfect-scrollbar.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
      <!-- <script>
         var ps = new PerfectScrollbar('#sidebar');
      </script> -->

</body>

</html>